<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-dark d-inline-block mb-0">
            Customer
          </h6>

          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="javascript:void(0)"> <i class="fas fa-home"> </i> </a>
              </li>
            </ol>
          </nav>
        </div>

        <div class="col-lg-6 col-5 text-right">
          <!-- {{ momentdate }} -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-2">
              <label class="form-control-label">Filter By</label>
            </div>
            <div class="col-4">
              <div class="form-group">
                <select class="form-control form-control-sm">
                  <option>Please select</option>
                  <option>Customer Name</option>
                  <option>Account Type</option>
                  <option>Account No</option>
                </select>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Keyword"
                />
              </div>
            </div>
            <div class="col-2">
              <button class="btn btn-pipeline btn-sm">Search</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="card">
        <!-- <div class="card-header">
              <h3 class="mb-0"></h3>
            </div> -->
        <div class="card-body">
          <h3>Current Bill</h3>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">No</th>

                  <th scope="col">Customer Name</th>

                  <th scope="col">Account Type</th>

                  <th scope="col">Account Number</th>

                  <th scope="col">Status</th>
                </tr>
              </thead>

              <tbody class="list">
                <tr *ngFor="let customer of customers">
                  <td>{{ customer.id }}</td>
                  <td>{{ customer.full_name }}</td>
                  <td>{{ customer.account_type }}</td>
                  <td>{{ customer.account_no }}</td>
                  <td><span class="badge badge-success">Active</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
